#flash {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#errors, #notice {
  font-weight: bold;
}

#errors {
  color: red;
}

#notice {
  color:  blue;
}


