header {
  background-color: DarkOliveGreen;
  color: white;
  height: 100px;
}

#header-container {
  width:  80%;
  height: 100px;
  margin: 0 auto 0 auto;
}
 
#logo {
  font-size: 2em;
  padding-top: 20px;
  width: 50%;
  text-align: left;
  float: left;
  font-variant: small-caps;
}

#logo-link:link, #logo-link:visited, #logo-link:hover, #logo-link:active {
  text-decoration: none;
  color:  white;
}

#welcome-message {
  font-size: 50%;
  }

#user-links {
  float: right;
  margin: auto 0 auto 10px;
  text-align: right;
  height: 100px;
  padding-top: 30px;
/*  padding: 15px;*/
}

#user-links > ul > li {
  display: inline;
}

#sign-out-form {
  display: inline;
}

#sign-out {
  background:DarkOliveGreen; 
  border:0 none;
}

#sign-up, #sign-in, #compose-peep, #sign-out {
  color:  white;
  text-align: center;
  font-size: 80%;
  text-decoration: none;
  padding: 5px;
  border-right: 2px solid white;
  background-color: DarkOliveGreen;
  }
