header {
  background-color: DarkOliveGreen;
  color: white;
  height: 100px;
}

#header-container {
  width:  80%;
  height: 100px;
  margin: 0 auto 0 auto;
}
 
#logo {
  font-size: 2em;
  margin: 10px auto 20px auto;
  width: 50%;
  height: 60px;
  text-align: left;
}

#logo-link:link, #logo-link:visited, #logo-link:hover, #logo-link:active {
  text-decoration: none;
  color:  white;
}

#welcome-message {
  font-size: 75%;
  }

#user-links {
  margin: 0px auto 0px auto;
  text-align: right;
/*  padding: 15px;*/
}

li {
  display: inline;
}

#sign-out-form {
  width:  100px;
  margin: 0 0 0 0;
}

#sign-out {
  background:DarkOliveGreen; 
  border:0 none;
}

#sign-up, #sign-in, #compose-peep, #sign-out {
  color:  white;
/*  width: 100px;*/
  text-align: center;
  font-size: 80%;
  text-decoration: none;
  padding: 5px;
  border-right: 2px solid white;
  background-color: DarkOliveGreen;
  }
