<section id="header-container">
  <section id="logo"><a href='/' id='logo-link'>ChitterAndy</a><br>
    <% if current_user %>  
      <span id="welcome-message">You are currently signed in as <%= current_user.username %></span>
    <% end %>   
  </section> 
  <section id="user-links">
    <ul>
      <% if current_user %>
        <li><form id="sign-out-form" action="/sessions/sign_out" method="post">
          <input type="hidden" name="_method" value="delete">
          <input id="sign-out" type="submit" value="Sign out">
        </form></li>
      <% else %>
        <li><a href='/sessions/sign_up' id='sign-up'>Sign up</a></li>
        <li><a href='/sessions/sign_in' id='sign-in'>Sign in</a></li>   
      <% end %>
        <li><a href='/peeps/compose_peep' id='compose-peep'>Compose a Peep</a></li>
    </ul>
</section>