<header>
  <section id="logo">ChitterAndy
    <% if current_user %>  
      <span id="welcome-message"><br>
        You are currently signed in as <%= current_user.username %></span>
  </section>
  <section id="user-links">
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input id="sign-out" type="submit" value="Sign out">
    </form>
      <form action="/peeps" method="get">
      <input id="compose-peep-button" type="submit" value="Compose a Peep">
      </form>
    <% else %>
      <a href='/sign_up' id='sign-up' class='button'>Sign up</a>
      <a href='/sign_in' id='sign-in' class='button'>Sign in</a>      
    <% end %>
  </section>
</header>