<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChitterAndy</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/flash_notices.css"> 
    <link rel="stylesheet" href="/css/peeps_table.css">
    <link rel="stylesheet" href="/css/fieldset.css">    
  </head>
  <header>
    <%= erb :_header %>
  </header>
  <body>
    <%= erb :_flash %>

    <%= yield %>
  
  </body>
</html>