<form action="/sessions/sign_in" method="post">
  <fieldset>
    <legend>Sign in to Chitter</legend>
    <label>Email:</label><input name="email" type="text"><br>
    <label>Password:</label><input name="password" type="password">
    <input id="submit" type="submit" value="Sign in now">
  </fieldset>
</form>