<form action="/sessions/registration" method="post">
  <fieldset>
    <legend>Sign up to Chitter</legend>
    <label>Email:</label><input type="text" name="email"><br>
    <label>Name:</label><input type="text" name="name"><br>
    <label>Username:</label><input type="text" name="username"><br>
    <label>Password:</label><input type="password" name="password"><br>
    <label>Password Confirmation:</label><input type="password" name="password_confirmation">
    <input id="submit" type="submit" value="Register now">
  </fieldset>
</form>